* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */


body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Lato", Helvetica Neue, helvetica, sans-serif;
    list-style: none;
}

main {
    margin-top: 60px;
    background-color: #000000;
}

a {
    text-decoration: none;
}

h2 {
    color: var(--color);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    padding-bottom: var(--h1-padding-bottom);
    line-height: var(--h1-line-height);
}

.contenedor {
    padding: 0 20px;
}

.carrusel-animes h3,
.carrusel-animes span {
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 500;
}

.carrusel-animes span {
    color: #8c8c8c;
}

.carrusel-animes h3 {
    margin: 8px 0 12px;
}


/* ROOT */

:root {
    --color: #ffffff;
    --h1-font-weight: 700;
    --h1-font-size: 1.375rem;
    --h1-padding-bottom: 12px;
    --h1-line-height: 1.75rem;
}


/* HEADER */

header {
    position: absolute;
    min-width: 20rem;
    display: block;
    top: 0;
    left: 0;

}

.seccion-header {
    position: fixed;
    inset-inline: 0;
    height: 3.75rem;
    min-width: 20rem;
    background-color: #272727;
    z-index: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "mobileMenu logo actions";
}

.menu-hamb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 22px;
    height: 14px;
}

.menu-hamb span {
    background-color: rgb(187, 187, 187);
    width: 16px;
    height: 2px;
}

.vis-cel {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 60px;
    width: 60px;
}

.vis-cel.active {
    background-color: #151515;
}

.div-logos {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-cel {
    margin-left: 18px;
    fill: #ff640a;
}

.logo-desk {
    display: none;
}

.seccion-logo {
    display: flex;

}

.nav {
    display: none;
}

.nav.active {
    display: flex;
    list-style: none;
    padding: 10px 0 0 5px;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: #151515;
    z-index: 999;
    color: #ffffff;
}

nav a {
    font-size: 16px;
    margin: 15px;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(187, 187, 187);
}

.icono-lupa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px
}

.seccion-perfil {
    display: flex;
    justify-content: end;
}

.seccion-foto {
    height: 34px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-foto img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.seccion-foto-perfil {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px
}

.icono-flecha {
    margin-left: 5px;
    padding-top: 3px
}

/* CUERPO */

.seccion-anime {
    position: relative;
    display: inline-block;
    height: 100%;
}

.seccion-anime-todo {
    margin-bottom: 56px;
    height: 57vh;
}


.seccion-foto-grande {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.seccion-foto-grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 93% 10%;
    transition: object-position 0.3s ease;
    background: #272727;
}

.descripcion {
    display: none
}

.seccion-todo {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    color: white;
}

.seccion-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 8));
}

.seccion-logo-anime img {
    height: 60px;
}

.seccion-grade {
    margin-block: .75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-grade svg {
    height: 1.25rem;
    width: auto;
}

.seccion-grade span {
    font-size: .875rem;
    color: #8c8c8c;
}

.seccion-grade span::before {
    background-color: #a0a0a0;
    content: "";
    display: inline-block;
    height: .25rem;
    inset-block-start: 50%;
    line-height: 1;
    margin-inline-end: .25rem;
    margin-inline-start: .25rem;
    transform: translateY(-90%) rotate(45deg);
    width: .25rem;
}

.seccion-boton {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.boton-mirar a {
    background-color: #ff630c;
    color: #000000;
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 900;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-mirar {
    width: 87.5%
}

.boton-mirar a {
    height: 2.5rem;
    width: 100%
}

.seccion-boton a svg {
    fill: #000000;
}

.boton-bookmark {

    width: 11.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff630c;
    background-color: transparent;
}

.boton-bookmark svg {
    fill: #ff630c;
}

.barritas {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.barritas span {
    background-color: #a0a0a0;
    height: 7px;
    width: 25px;
    margin: 0 5px;
    border-radius: 5px
}

/* CARRUSEL */

.carrusel-animes {
    display: flex;
    gap: 10px;
}

.seccion-cuerpo {
    background-color: #000000;
    height: 100%;
}

.seccion-carrusel-animes span {
    color: #8c8c8c;
}

.info-anime-carru {
    color: #ffffff;
}

.imagen-anime-carru {
    height: 255px;
    width: auto;
}

/* WATCH LATER */

.seguir-viendo {
    margin-top: 56px;
}

.contenedor-titulo-sv {
    display: flex;
    justify-content: space-between;
}

.contenedor-titulo-sv a svg {

    fill: rgb(255, 255, 255);
}

.contenedor-thumbnail {
    width: 150px;
    height: auto;
}

.contenedor-thumbnail img {
    width: 100%;
    display: block;
}

.sv-1 {
    display: flex;
}

.thumbnail {
    position: relative;
    display: inline-block;
}


.longitud-vid {
    color: #ffffff;
    position: absolute;
    inset-block-end: .25rem;
    inset-inline-end: .25rem;
    background-color: #000000a4;
    padding: 3px 5px;
    font-size: .875rem;
}

.longitud-vid span {
    color: #ffffff
}

.play-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #00000070;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button svg {
    height: 35px;
    width: auto;
    color: #ffffff;
}

.info-sv {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    min-height: 4.3125rem;
    min-width: 0;
    padding-block: .75rem .25rem;
    padding-inline-start: .75rem;

}

.info-sv span {
    color: #8c8c8c;
}

.nombre-anime-sv {
    color: #ffffff;
    font-size: .875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.titulo-anime-sv {
    font-size: .625rem;
    padding-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.sub-sv {
    font-size: .875rem;
    font-weight: 500;
}

.cont-sub-sv {
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sv-1 {
    margin-bottom: .75rem;
}

/* MOVIE */

.seccion-peli {
    width: 100%;
    height: auto;
    margin: 2.5rem 0;
}

.seccion-peli img {
    height: auto;
    width: 100%;
}

/* GENRE SECTION */

.seccion-demi-titu {
    padding-bottom: 12px;
}

.seccion-demi-titu span {
    color: #8c8c8c;
    font-size: 0.875rem;
}

.seccion-demi-titu h2 {
    padding: 0;
    margin-bottom: 4px;
}

.seccion-generos {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

/* NEW EPISODES */

.seccion-nuevos-ep {
    margin-top: 4.9rem
}

.seccion-titu-newep h2 {
    display: flex;
    align-items: center;
}

.seccion-titu-newep {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flecha {
    margin-bottom: 6px;
    fill: var(--color)
}

.icono-h2 {
    height: 1.5rem;
    margin-block-start: .125rem;
    margin-inline-end: .25rem;
    width: 1.5rem;
    align-self: flex-start;
    fill: var(--color)
}

.div-hoy h3 {
    color: var(--color);
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid #414141;
    ;
}

.seccion-animes-nuevos {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;

    padding-top: 12px;
}

.new-ep {
    display: flex;
}

.thumbnail-newep {
    width: 150px;
    height: auto;
}

.thumbnail-newep img {
    width: 100%;
    display: block;
}

.nombre-anime-newep {
    color: var(--color);
    font-size: .875rem;
}

.info-newep {
    margin-left: 12px;
    display: flex;
    flex-direction: column;
}

.info-newep span {
    color: #8c8c8c;
    font-size: .875rem;
    font-weight: 500;
}

.episode-newep {
    margin: 7px 0;
}

.div-tl {
    display: flex;
    justify-content: space-between;
}

.div-tl .timelapse {
    color: #2abdbb;
}

.seccion-btn-newep {
    background-color: #213944;
    color: #fff;
    display: flex;
    cursor: pointer;
    height: 2.5rem;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.btn-newep {
    align-items: center;
    cursor: inherit;
    display: flex;
    gap: .25rem;
    height: 100%;
    justify-content: center;
    transition: none;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.125rem;
}

/* NOTICIAS */

.seccion-titu-noti .flecha {
    margin-bottom: 10px;
}

.seccion-noticias {
    margin-top: 2.5rem;
    background-image: linear-gradient(180deg, #2abdbb, #2d9594);
    padding: 12px 10px;
}

.contededor-notis {
    background-color: #000000;
    padding: 10px;
}

.seccion-titu-noti h2 {
    display: flex;
    align-items: center;
}

.seccion-titu-noti {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-subtitu-noti h3 {
    color: var(--color);
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: 600;
}

.contenedor-pilares-notis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #272727
}

.contenedor-noti-1 {
    width: 170px;
    height: 100%;
}

.contenedor-noti-1 img {
    width: 100%;
    height: 100%;
}

.thumbnail-noti {
    margin-bottom: 3px;
}

.contenedor-noti-1 p {
    color: var(--color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contenedor-noti-1 span {
    line-height: 1rem;
    font-size: .75rem;
    font-weight: 600;
    color: #8c8c8c;
}

.noti-reciente {
    display: flex;
    margin-bottom: 15px;
}

.contenedor-titu-mr h3 {
    color: var(--color);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 12px;
}


.contenedor-thumbnail-mr img {

    width: 105px;
    height: auto;
}

.contenedor-noti-info h3 {
    color: var(--color);
    font-size: .875rem;
    font-weight: 500;
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    --max-lines: 2;
    display: -webkit-box;
    margin-block-end: .25rem;
    overflow: hidden;
    white-space: unset;
    flex-wrap: nowrap;
}

.contenedor-noti-info span {

    color: #8c8c8c;
    font-size: .75rem;
    font-weight: 600;
}

.contenedor-noti-info {
    min-width: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* ANIMES TO WATCH */

.seccion-animes-pv {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 2.5rem;
}

.contenedor-thumbnail-pv img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.parrafo-pv {
    font-size: .875rem;
    color: var(--color);
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    --max-lines: 3;
    display: -webkit-box;
    margin-block-end: .75rem;
    overflow: hidden;
    white-space: unset;
    margin-top: 8px;
}

.doblaje-pv span {
    color: #8c8c8c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .875rem;
}

.doblaje-pv svg {
    fill: var(--color);
}

.btn-pv div {
    width: 100%;
}

.btn-pv svg {
    fill: #000000
}

/* MUSIC VIDEOS */

.container-video {
    display: flex;
    padding-block: calc(0.75rem / 2);
    padding-inline: calc(0.625rem / 2);
}

.music-info {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 14px 0;
    padding-left: 12px;
}

.music-info h3 {
    color: var(--color);
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;
    --max-lines: 1;
    display: -webkit-box;
    overflow: hidden;
    white-space: unset;
    font-size: .875rem;
    font-weight: 600px;
}

.seccion-music-video span,
.seccion-music-video small {
    color: #8c8c8c;
    font-size: .875rem;
}

.music-info small {
    
    font-size: .625rem;
    font-weight: 900;
}

.container-music-videos {
    padding-top: 4px;
}

.seccion-music-video {
    margin-bottom: 2.5rem
}