* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
}

body {
    background-color: #000000;
}

h2 {
    color: var(--color);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    padding-bottom: var(--h1-padding-bottom);
    line-height: var(--h1-line-height);
}

/* ROOT */

:root {
    --color: #ffffff;
    --h1-font-weight: 700;
    --h1-font-size: 1.375rem;
    --h1-padding-bottom: 12px;
    --h1-line-height: 1.75rem;
}


/* HEADER */

header {
    background-color: #272727;
    height: 100%;
    display: flex;
    height: 3.75rem;
    justify-content: space-between;
    align-items: center;
}

.menu-hamb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 21px;
    height: 14px;
}

.menu-hamb span {
    background-color: #ffffff;
    width: 17px;
    height: 2px;
}

.vis-cel {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 60px;
    width: 60px;
}

.vis-cel.active {
    background-color: #151515;
}

.div-logos {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-cel {
    margin-left: 10px;
    height: 35px;
    width: auto;
}

.logo-desk {
    display: none;
}

.seccion-logo {
    display: flex;

}

.nav {
    display: none;
}

.nav.active {
    display: flex;
    list-style: none;
    padding: 10px 0 0 5px;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background: #151515;
    z-index: 999;
    color: #ffffff;
}

nav a {
    font-size: 16px;
    margin: 15px;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(187, 187, 187);
}

.icono-lupa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px
}

.seccion-perfil {
    display: flex;
    justify-content: center;
}

.seccion-foto {
    height: 36px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-foto img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.seccion-foto-perfil {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 13px
}

.icono-flecha {
    margin-left: 6px
}

/* CUERPO */

.seccion-anime {
    position: relative;
    display: inline-block;
    height: 100%;
}

.seccion-anime-todo {
    margin-bottom: 56px;
    height: 57vh;
}


.seccion-foto-grande {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.seccion-foto-grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 93% 10%;
    transition: object-position 0.3s ease;
    background: #272727;
}

.descripcion {
    display: none
}

.seccion-todo {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
    color: white;
}

.seccion-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 8));
}

.seccion-logo-anime img {
    height: 60px;
}

.seccion-grade {
    margin-block: .75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-grade svg {
    height: 1.25rem;
    width: auto;
}

.seccion-grade span {
    font-size: .875rem;
    color: #8c8c8c;
}

.seccion-grade span::before {
    background-color: #a0a0a0;
    content: "";
    display: inline-block;
    height: .25rem;
    inset-block-start: 50%;
    line-height: 1;
    margin-inline-end: .25rem;
    margin-inline-start: .25rem;
    transform: translateY(-90%) rotate(45deg);
    width: .25rem;
}

.seccion-boton {
    display: flex;
    justify-content: center;
    gap: 10px
}

.seccion-boton a {
    padding: 8px 65px;
    background-color: #ff630c;
    color: #000000;
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: bold;
    font-family: Lato, Helvetica Neue, helvetica, sans-serif;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-boton a svg {
    fill: #000000;
}

.boton-bookmark {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff630c;
    background-color: transparent;
}

.boton-bookmark svg {
    fill: #ff630c;
}

.barritas {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.barritas span {
    background-color: #a0a0a0;
    height: 7px;
    width: 25px;
    margin: 0 5px;
    border-radius: 5px
}

/* CARRUSEL */

.carrusel-animes {
    display: flex;
    gap: 10px;
}

.seccion-cuerpo {
    padding: 0 20px;
    background-color: #000000;
    height: 100%;
}


.seccion-carrusel-animes h3,
.seccion-carrusel-animes span {

    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 500;
}

.seccion-carrusel-animes h3 {
    margin: 8px 0 12px;
}

.seccion-carrusel-animes span {
    color: #8c8c8c;
}

.info-anime-carru {
    color: #ffffff;
}

.imagen-anime-carru {
    height: 255px;
    width: auto;
}

/* WATCH LATER */

.seguir-viendo {
    margin-top: 56px;
}

.contenedor-titulo-sv {
    display: flex;
    justify-content: space-between;
}



.contenedor-titulo-sv a svg {

    fill: rgb(255, 255, 255);
}

.contenedor-thumbnail {
    width: 150px;
    height: auto;
}

.contenedor-thumbnail img {
    width: 100%;
    display: block;
}

.sv-1 {
    display: flex;
}

.thumbnail {
    position: relative;
    display: inline-block;
}


.longitud-vid {
    color: #ffffff;
    position: absolute;
    inset-block-end: .25rem;
    inset-inline-end: .25rem;
    background-color: #000000a4;
    padding: 3px 5px;
    font-size: .875rem;
}

.longitud-vid span {
    color: #ffffff
}

.play-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #00000070;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button svg {
    height: 35px;
    width: auto;
    color: #ffffff;
}

.info-sv {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    min-height: 4.3125rem;
    min-width: 0;
    padding-block: .75rem .25rem;
    padding-inline-start: .75rem;

}

.info-sv span {
    color: #8c8c8c;
}

.nombre-anime-sv {
    color: #ffffff;
    font-size: .875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.titulo-anime-sv {
    font-size: .625rem;
    padding-bottom: 10px;
    
}

.sub-sv {
    font-size: .875rem;
    font-weight: 500;
}

.cont-sub-sv {
    padding-top: 6px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.sv-1 {
    margin-bottom: .75rem;
}