* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Lato", Helvetica Neue, helvetica, sans-serif;
    list-style: none;
}

main {

    gap: 3.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 3.75rem;
    background-color: #000000;
}

a {
    text-decoration: none;
}

h2 {
    color: var(--color);
    font-weight: var(--h1-font-weight);
    font-size: var(--h1-font-size);
    padding-bottom: var(--h1-padding-bottom);
    line-height: var(--h1-line-height);
}

.contenedor {
    padding: 0 1.25rem;
}

.carrusel-animes h3,
.carrusel-animes span {
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 500;
}

.carrusel-animes span {
    color: #8c8c8c;
}

.carrusel-animes h3 {
    margin: .5rem 0 .75rem;
}

.noti-chica,
.noti-gato {
    display: none;
}

/* ROOT */

:root {
    --color: #ffffff;
    --h1-font-weight: 700;
    --h1-font-size: 1.375rem;
    --h1-padding-bottom: .75rem;
    --h1-line-height: 1.75rem;
    --h1-font-size-desk: 1.75rem;
    --h1-padding-bottom-desk: 16px;
    --h1-line-height-desk: 2.25rem;

}


/* HEADER */

header {
    position: absolute;
    min-width: 20rem;
    display: block;
    top: 0;
    left: 0;
    z-index: 1000;

}

.seccion-header {
    position: fixed;
    inset-inline: 0;
    height: 3.75rem;
    min-width: 20rem;
    background-color: #272727;
    z-index: 1;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "mobileMenu logo actions";
}

.menu-hamb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1.375rem;
    height: .875rem;
}

.menu-hamb span {
    background-color: rgb(187, 187, 187);
    width: 1rem;
    height: .125rem;
}

.vis-cel {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 3.75rem;
    width: 3.75rem;
}

.vis-cel.active {
    background-color: #151515;
}

.div-logos {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-cel {
    margin-left: 1.125rem;
    fill: #ff640a;
}

.logo-desk {
    display: none;
}

.seccion-logo {
    display: flex;

}

.nav {
    display: none;
}

.nav.active {
    display: flex;
    list-style: none;
    padding: .625rem 0 0 .3125rem;
    flex-direction: column;
    position: fixed;
    top: 3.75rem;
    left: 0;
    width: 100vw;
    height: calc(100vh - 3.75rem);
    background: #151515;
    z-index: 999;
    color: #ffffff;
}

nav a {
    font-size: 1rem;
    margin: .9375rem;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(187, 187, 187);
}

.icono-lupa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.125rem
}

.seccion-perfil {
    display: flex;
    justify-content: end;
}

.seccion-foto {
    height: 2.125rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-foto img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.seccion-foto-perfil {
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .8125rem
}

.icono-flecha {
    margin-left: .3125rem;
    padding-top: .1875rem
}

.icono-bookmark {
    display: none;
}

/* CUERPO */

.seccion-anime {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
}

.seccion-anime-todo {
    height: 57vh;
}


.seccion-foto-grande {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.seccion-foto-grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: object-position 0.3s ease;
    background: #272727;
}

.descripcion {
    display: none
}

.seccion-todo {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    justify-content: end;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.seccion-info {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1.25rem;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 8));
}

.seccion-logo-anime img {
    height: 3rem;
}

.seccion-grade {
    margin-block: .75rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion-grade svg {
    height: 1.25rem;
    width: auto;
}

.seccion-grade span {
    font-size: .875rem;
    color: #8c8c8c;
}

.seccion-grade span::before {
    background-color: #a0a0a0;
    content: "";
    display: inline-block;
    height: .25rem;
    inset-block-start: 50%;
    line-height: 1;
    margin-inline-end: .25rem;
    margin-inline-start: .25rem;
    transform: translateY(-90%) rotate(45deg);
    width: .25rem;
}

.seccion-boton {
    display: flex;
    justify-content: center;
    gap: .625rem;
    width: 100%;
}

.boton-bkmark {
    display: none;
}

.boton-mirar a {
    background-color: #ff630c;
    color: #000000;
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 900;
    gap: .3125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-mirar {
    width: 87.5%
}

.boton-mirar a {
    height: 2.5rem;
}

.seccion-boton a svg {
    fill: #000000;
}

.boton-bookmark {

    width: 11.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .125rem solid #ff630c;
    background-color: transparent;
}

.boton-bookmark svg {
    fill: #ff630c;
}

.barritas {
    display: flex;
    flex-direction: row;
    margin-top: 1.875rem;
}

.barritas span {
    background-color: #a0a0a0;
    height: .4375rem;
    width: 1.5625rem;
    margin: 0 .3125rem;
    border-radius: .3125rem
}

/* CARRUSEL */

.carrusel-animes {
    display: flex;
    gap: .625rem;
    padding-right: 20px;
}

.seccion-carru-titulo {
    padding-left: 20px;
}

.seccion-demi-titu {
    padding: 0 20px;
}

.carrusel-container {
    padding-left: 20px;
}

.seccion-cuerpo {
    background-color: #000000;
    height: 100%;
}

.seccion-carrusel-animes span {
    color: #8c8c8c;
}

.info-anime-carru {
    color: #ffffff;
    width: 170px;
}

.imagen-anime-carru {
    height: 15.9375rem;
    width: auto;
}

.carrusel-animes {
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carrusel-animes::-webkit-scrollbar {
    display: none;
}

.articulo-anime {
    flex: 0 0 calc(50% - 1.5rem);
    scroll-snap-align: start;
    max-width: 170px;
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease;
    opacity: 0.4;
    filter: grayscale(60%);
}

.articulo-anime.active {
    opacity: 1;
    filter: none;
}




/* WATCH LATER */

.historial {
    display: none;
}

.seguir-viendo {
    margin-top: 3.5rem;
}

.contenedor-titulo-sv {
    display: flex;
    justify-content: space-between;
}

.contenedor-titulo-sv a svg {

    fill: rgb(255, 255, 255);
}

.contenedor-thumbnail {
    width: 9.375rem;
    height: auto;
}

.contenedor-thumbnail img {
    width: 100%;
    display: block;
}

.sv-1 {
    display: flex;
}

.thumbnail {
    position: relative;
    display: inline-block;
}


.longitud-vid {
    color: #ffffff;
    position: absolute;
    inset-block-end: .25rem;
    inset-inline-end: .25rem;
    background-color: #000000a4;
    padding: .1875rem .3125rem;
    font-size: .875rem;
}

.longitud-vid span {
    color: #ffffff
}

.play-button {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #00000070;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-button svg {
    height: 2.1875rem;
    width: auto;
    color: #ffffff;
}

.info-sv {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    min-height: 4.3125rem;
    min-width: 0;
    padding-block: .75rem .25rem;
    padding-inline-start: .75rem;

}

.info-sv span {
    color: #8c8c8c;
}

.nombre-anime-sv {
    color: #ffffff;
    font-size: .875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.titulo-anime-sv {
    font-size: .625rem;
    padding-bottom: .625rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.sub-sv {
    font-size: .875rem;
    font-weight: 500;
}

.cont-sub-sv {
    padding-top: .375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sv-1 {
    margin-bottom: .75rem;
}

/* MOVIE */

.seccion-peli {
    width: 100%;
    height: auto;
    margin: 2.5rem 0;
}

.seccion-peli img {
    height: auto;
    width: 100%;
}

/* GENRE SECTION */

.seccion-demi-titu {
    padding-bottom: .75rem;
}

.seccion-demi-titu span {
    color: #8c8c8c;
    font-size: 0.875rem;
}

.seccion-demi-titu h2 {
    padding: 0;
    margin-bottom: .25rem;
}

.seccion-generos {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
}

/* NEW EPISODES */

.contenedor-ayer {
    display: none;
}

.seccion-nuevos-ep {
    margin-top: 4.9rem
}

.seccion-titu-newep h2 {
    display: flex;
    align-items: center;
}

.seccion-titu-newep {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flecha {
    margin-bottom: .375rem;
    fill: var(--color)
}

.icono-h2 {
    height: 1.5rem;
    margin-block-start: .125rem;
    margin-inline-end: .25rem;
    width: 1.5rem;
    align-self: flex-start;
    fill: var(--color)
}

.div-hoy h3 {
    color: var(--color);
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: .625rem;
    border-bottom: .125rem solid #414141;
    ;
}

.seccion-animes-nuevos {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding-top: .75rem;
}

.new-ep {
    display: flex;
}

.thumbnail-newep {
    width: 9.375rem;
    height: auto;
}

.thumbnail-newep img {
    width: 100%;
    display: block;
}

.nombre-anime-newep {
    color: var(--color);
    font-size: .875rem;
}

.info-newep {
    margin-left: .75rem;
    display: flex;
    flex-direction: column;
}

.info-newep span {
    color: #8c8c8c;
    font-size: .875rem;
    font-weight: 500;
}

.episode-newep {
    margin: .4375rem 0;
}

.div-tl {
    display: flex;
    justify-content: space-between;
}

.div-tl .timelapse {
    color: #2abdbb;
}

.seccion-btn-newep {
    color: #fff;
    display: flex;
    cursor: pointer;
    height: 2.5rem;
    justify-content: center;
    width: 100%;
    margin-top: 1.25rem;
}

.btn-newep {
    width: 100%;
    background-color: #213944;
    align-items: center;
    cursor: inherit;
    display: flex;
    gap: .25rem;
    height: 100%;
    justify-content: center;
    transition: none;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.125rem;
}

/* NOTICIAS */

.seccion-titu-noti .flecha {
    margin-bottom: .625rem;
}

.seccion-noticias {
    margin-top: 2.5rem;
    background-image: linear-gradient(180deg, #2abdbb, #2d9594);
    padding: .75rem .625rem;
}

.contededor-notis {
    background-color: #000000;
    padding: .625rem;
}

.seccion-titu-noti h2 {
    display: flex;
    align-items: center;
}

.seccion-titu-noti {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-subtitu-noti h3 {
    color: var(--color);
    margin-bottom: .75rem;
    font-size: 1rem;
    font-weight: 600;
}

.contenedor-pilares-notis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: .125rem solid #272727
}

.contenedor-noti-1 {
    width: 10.625rem;
    height: 100%;
}

.contenedor-noti-1 img {
    width: 100%;
    height: 100%;
}

.thumbnail-noti {
    margin-bottom: .1875rem;
}

.contenedor-noti-1 p {
    color: var(--color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: .3125rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

.contenedor-noti-1 span {
    line-height: 1rem;
    font-size: .75rem;
    font-weight: 600;
    color: #8c8c8c;
}

.noti-reciente {
    display: flex;
    margin-bottom: .9375rem;
}

.contenedor-titu-mr h3 {
    color: var(--color);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .75rem;
}


.contenedor-thumbnail-mr img {

    width: 6.5625rem;
    height: auto;
}

.contenedor-noti-info h3 {
    color: var(--color);
    font-size: .875rem;
    font-weight: 500;
    -webkit-line-clamp: var(--max-lines);
    line-clamp: 2;
    -webkit-box-orient: vertical;
    --max-lines: 2;
    display: -webkit-box;
    margin-block-end: .25rem;
    overflow: hidden;
    white-space: unset;
    flex-wrap: nowrap;
}

.contenedor-noti-info span {

    color: #8c8c8c;
    font-size: .75rem;
    font-weight: 600;
}

.contenedor-noti-info {
    min-width: 0;
    margin-left: .625rem;
    display: flex;
    flex-direction: column;
    gap: .125rem;
}

/* ANIMES TO WATCH */

.seccion-animes-pv {
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 4.375rem;
    margin-bottom: 2.5rem;
}

.contenedor-thumbnail-pv img {
    width: 100%;
    height: auto;
    margin-bottom: .5rem;
}

.parrafo-pv {
    font-size: .875rem;
    color: var(--color);
    -webkit-line-clamp: var(--max-lines);
    -webkit-box-orient: vertical;

    line-clamp: 3;
    --max-lines: 3;
    display: -webkit-box;
    margin-block-end: .75rem;
    overflow: hidden;
    white-space: unset;
    margin-top: .5rem;
}

.doblaje-pv span {
    color: #8c8c8c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .875rem;
}

.doblaje-pv svg {
    fill: var(--color);
}



.btn-pv svg {
    fill: #000000
}

/* MUSIC VIDEOS */

.container-video {
    display: flex;
    padding-block: calc(0.75rem / 2);
}

.music-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: .875rem 0;
    padding-left: .75rem;
}

.music-info h3 {
    color: var(--color);
    -webkit-line-clamp: var(--max-lines);
    line-clamp: 1;
    -webkit-box-orient: vertical;
    --max-lines: 1;
    display: -webkit-box;
    overflow: hidden;
    white-space: unset;
    font-size: .875rem;
    font-weight: 37.5rem;
}

.seccion-music-video span,
.seccion-music-video small {
    color: #8c8c8c;
    font-size: .875rem;
}

.music-info small {

    font-size: .625rem;
    font-weight: 900;
}

.container-music-videos {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 1rem;
    padding-top: .25rem;
    scrollbar-width: none;
    padding-left: 20px;
    scroll-padding-left: 20px;
}

.carrusel-musica::-webkit-scrollbar {
    display: none;
}

.music-slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
    scroll-snap-align: center;
}

.music-slide {
    opacity: 0.6;
    transform: scale(0.95);
    transition:
        opacity 0.5s ease,
        transform 0.5s ease,
        filter 0.5s ease;
    filter: brightness(0.7);
}

.music-slide.active {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1);
}

.seccion-music-video {
    margin-bottom: 2.5rem;

}

.seccion-music-video .seccion-demi-titu {
    padding-left: 0;
    padding-right: 0;
}

/* GATO NEGRO */

.seccion-gato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4.9rem;
}

.seccion-gato h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.625rem;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
}

.seccion-gato button {
    height: 2.5rem;
    width: 100%;
    border-color: #ff630c;
    color: #ff630c;
    background-color: transparent;
    display: flex;
    gap: .25rem;
    justify-content: center;
    align-items: center;
    transition: none;
    font-size: .875rem;
    line-height: 1.125rem;
    font-weight: 700;
    margin-top: 1rem;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
    gap: 2rem;

}


footer .footer-1,
footer .container-secciones {
    padding: 0 1.5625rem;
}


.footer-1 {
    color: #8c8c8c;
    fill: #8c8c8c;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: flex-start;
    padding: 0 .3125rem;
}

.footer-1 div {

    max-width: 90%;
}

.logo-footer svg {
    width: 13.5rem;
    height: auto;
    fill: var(--color);
}

.derechos-footer {
    display: flex;
    align-items: center;
}

.derechos-footer div {
    line-height: 1.125rem;
    font-size: .875rem;
    padding-left: .625rem;
    margin-left: .625rem;
    border-left: .0625rem solid #8c8c8c;
}

.desk-only {
    display: none;
}

.derechos-footer svg {
    width: 10rem;
    height: auto;
}

.footer-1 ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
    padding: .625rem 0;
}

.footer-1 p {
    line-height: 1.125rem;
    font-size: .875rem;
}

.idioma-footer {
    border: .125rem solid #8c8c8c;
    display: flex;
    align-items: center;
    padding: .625rem .5rem .625rem .75rem;
    gap: .5rem
}

.container-secciones {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: .625rem
}

.container-secciones ul {
    color: #8c8c8c;
    gap: 2rem;
    padding: 0 .3125rem;
    list-style: none;
}

.container-secciones li {
    padding: .875rem 0;
    line-height: 1.125rem;
    font-size: .875rem;
}

.container-secciones h2 {
    line-height: 1.5rem;
    font-size: 1rem;
}

.seccion-info-final {
    isolation: isolate;
    position: relative;
    padding: 0 1.5rem;
}

.seccion-info-final img {
    height: 100%;
    inset-inline-start: 0;
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.seccion-info-final ul {
    color: #8c8c8c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem 0;
    list-style: none;
}

.seccion-info-final li {
    padding: .875rem .75rem;
    line-height: 1.125rem;
    font-size: .875rem;
}

/* DESKTOP */

@media (min-width: 1024px) {

    .desk-only {
        display: flex;
    }

    h2 {
        color: var(--color);
        font-weight: var(--h1-font-weight);
        font-size: var(--h1-font-size-desk);
        padding-bottom: var(--h1-padding-bottom-desk);
        line-height: var(--h1-line-height-desk);
    }


    /* HEADER */

    .contenedor {
        padding: 0 80px;
    }

    .logo-cel,
    .vis-cel {
        display: none;
    }

    .logo-desk {
        display: block;
        width: 8.5rem;
        fill: #ff630c;
    }

    .btn-desk-logo {
        padding: 0 20px;
    }


    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%
    }

    nav a {
        color: var(--color);
        margin: 0;
        line-height: 1.5rem;
        font-size: 1rem;
        padding: 0 16px;
        color: #bbb;
    }

    .categorias,
    .noticias {
        display: flex;
        align-items: center;
        margin-right: 8px;
    }

    .categorias::after {
        content: "";
        width: .0625rem;
        height: 1.25rem;
        background-color: #414141;
        inset-inline-end: -.25rem;
        inset-block-start: 50%;
        transform: translateX(12px);
    }

    .categorias div,
    .noticias div {
        display: flex;
        align-items: center;
        margin: 2px 0 0 2px;

    }

    nav svg {
        fill: #bbb;
    }

    .icono-bookmark {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icono-lupa,
    .icono-bookmark {
        padding: 0 0.9rem;
    }

    /* BIG ANIME SECTION */

    .seccion-anime-todo {
        height: 80vh;
    }

    .seccion-anime {
        width: 100%;
        height: auto;
    }


    .seccion-todo {
        width: 100%;
        height: 100%;
        display: flex;

    }

    .seccion-logo-anime {
        height: 220px;
        display: flex;
        align-items: end;
    }


    .seccion-logo-anime img {
        height: 6rem;
    }

    .seccion-info {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: baseline;
        background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
        padding-left: 80px;
        padding-top: 150px;
    }

    .boton-mirar a {
        padding: 0 15px;
    }

    .boton-bookmark {
        width: auto;
        padding: 0 6px;
    }

    .seccion-boton {
        width: auto;
    }

    .descripcion {
        display: block;
        width: 30%;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        color: #bbb;
        display: -webkit-box;
        margin-block-end: 2rem;
        overflow: hidden;
        white-space: unset;
    }

    .seccion-grade {
        margin: 32px 0 8px
    }

    .barritas {
        padding-top: 50px
    }

    /* CARROUSEL */

    .seccion-generos {
        gap: 3.5rem;
        display: flex;
        flex-direction: column;
    }


    .seccion-carru-titulo {
        padding-left: 80px;
    }


    .carrusel-container {
        padding-left: 0;
    }

    s .seccion-carru-titulo {
        position: relative;
        z-index: 1;
    }



    .carrusel-animes {
        max-width: 2000px;
        gap: 2rem;
        padding-left: 80px;
        scroll-padding-left: 5rem;
    }

    .articulo-anime {
        max-width: 266px;
    }

    .articulo-anime img {
        width: 266px;
        height: auto;
    }

    .articulo-anime {
        opacity: 0.6;
        transition: opacity 0.4s ease;
    }

    .articulo-anime.active {
        opacity: 1;
        transform: scale(1);
    }

    /* SEGUIR VIENDO */

    .sv-1 {
        flex-direction: column;
        width: 276px;
        height: 244.5px;
    }

    .contenedor-thumbnail {
        width: 100%;
        height: auto;
    }

    .titulo-anime-sv {
        line-height: 0.875rem;
        font-size: .625rem;
    }

    .nombre-anime-sv {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .sub-sv {
        line-height: 1.125rem;
        font-size: .875rem;
    }

    .info-sv {
        padding: 0;
        padding-top: 12px;
    }

    .contenedor-animes-sv {
        display: flex;
        flex-direction: row;
        gap: 1.875rem;
    }

    .historial {
        display: block;
        color: #8c8c8c;
    }

    .contenedor-titulo-sv a {
        display: flex;
        align-items: center;
        font-size: .875rem;
        line-height: 1.125rem;
        fill: #8c8c8c;
        font-weight: 900;
        margin-bottom: 15px;
    }

    .contenedor-titulo-sv a svg {
        fill: #8c8c8c;
    }

    /* SECCION PELICULA BANNER */

    .seccion-peli img {
        width: 1350px;
        height: auto;
    }

    .seccion-peli {
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 1;
        margin: 3.5rem 0;
    }

    /* SECCION GENERO */

    .seccion-music-video .seccion-demi-titu {
        padding-left: 80px;
    }

    .seccion-demi-titu {
        padding-left: 80px;
    }

    /* NEW EPISODES */

    .seccion-titu-newep svg {
        margin-top: 6px;
    }

    .div-hoy {
        display: block;
    }

    .div-hoy h3 {
        line-height: 1.75rem;
        font-size: 1.375rem;
    }

    .new-ep img {
        height: 82px;
        width: auto;
    }

    .new-ep {
        max-width: 562px;
        width: 100%;
    }

    .info-newep {
        width: 100%;
    }

    .seccion-animes-nuevos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .anime-hoy {
        margin-bottom: 24px;
    }

    .btn-newep {
        width: 46%;
    }

    .seccion-btn-newep {
        margin-top: 55px;
        margin-bottom: 55px;
    }

    /* NOTICIAS */

    .seccion-noticias {
        padding: 25px 0;
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .contededor-notis {
        padding: 40px 40px;
        width: 1382px;
        margin: 0 auto;
        position: relative;
    }

    .pilares-noticias {
        display: flex;
        column-gap: 2rem;
    }

    .contenedor-info-noticias {
        display: flex;
        gap: 2rem
    }

    .contenedor-pilares-notis {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        border: 0;
        padding: 0;
        margin: 0;
    }

    .contenedor-noti-1 {
        width: 303px;
        height: 100%
    }

    .noti-reciente {
        height: 78px;
        width: 469.5px;
        margin-bottom: 8px;
    }

    .contenedor-thumbnail-mr img {
        height: 78px;
        width: auto;
    }

    .contenedor-noti-info {
        margin-top: 10px;
        margin-left: 12px;
    }

    .contenedor-noti-info h3 {
        -webkit-line-clamp: var(--max-lines);
        line-clamp: 1;
        -webkit-box-orient: vertical;
        --max-lines: 1;
        line-height: 1.5rem;
        font-size: 1rem;
        margin: 0;
    }

    .contenedor-noti-info span {
        line-height: 1rem;
        font-size: .75rem;
        font-weight: 600;
    }

    .pilares-noticias-recientes {
        display: flex;
        width: 100%;
    }

    .p-noti {
        line-height: 1.625rem;
        font-size: 1.125rem;
        max-lines: 3;
        margin-block-end: .5rem;
    }

    .contenedor-noti-1 {
        line-height: 1rem;
        font-size: .75rem;
        font-weight: 600;
    }

    .contenedor-titu-mr h3 {
        line-height: 1.625rem;
        font-size: 1.125rem;
    }

    .contenedor-subtitu-noti h3 {
        line-height: 1.625rem;
        font-size: 1.125rem;
    }

    .contenedor-subtitu-noti {
        width: 303px;
    }

    .pilares-noticias-recientes {
        display: flex;
        column-gap: 1.875rem;
    }

    .seccion-titu-noti h2 svg {
        margin-top: 5px;
    }

    .seccion-titu-noti a {
        display: flex;
        color: #8c8c8c;
    }

    .seccion-titu-noti a svg {
        fill: #8c8c8c;
    }

    .seccion-titu-noti a span {
        margin-top: 2px
    }

    .noti-chica,
    .noti-gato {
        display: block;
        ;
    }

    .noti-gato {

        z-index: 0;
        right: 0;
        position: absolute;
        transform: translate(-7rem, 30.5rem);

    }

    .noti-chica {
        z-index: 0;
        position: absolute;
        transform: translate(-3.2rem, 1rem);
    }

    /* ANIMES POR VER */
    .contenedor-thumbnail-pv img {
        width: 633.5px;
        height: auto;
    }

    .anime-pv {
        display: flex;
        width: 77%;

    }

    .contenedor-info-pv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 2rem;
    }

    .contenedor-titu-pv h2 {
        padding-bottom: 8px;
    }

    .seccion-animes-pv {
        align-items: center;
    }

    .doblaje-pv svg {
        display: none;
    }

    .parrafo-pv {
        -webkit-line-clamp: var(--max-lines);
        -webkit-box-orient: vertical;
        line-clamp: 2;
        --max-lines: 2;
        line-height: 1.5rem;
        font-size: 1rem;
        margin-bottom: 24px;
    }

    .boton-bkmark {
        display: block;
    }

.boton-bkmark svg {
    fill: #ff630c;
}

    .boton-bkmark a {
        background-color: transparent;
        border: 2px solid #ff630c;
        color: #ff630c;
        font-size: .875rem;
        line-height: 1.125rem;
        font-weight: 900;
        gap: .3125rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        padding: 0 16px;
    }

    .boton-mirar a {

        display: inline-flex;
        padding: 0 16px;
    }

    .btn-pv {
        display: flex;
        gap: 10px
    }

    .btn-pv .boton-mirar {
        width: auto;
    }

    /* VIDEO MUSICAL */

    .container-video {
        flex-direction: column;
        scroll-snap-align: start;
    }

.container-video {
    width: 265.83px;
    height: auto;
}

    .music-info {
        padding: 0;
        padding-top: 12px;
    }

    .music-info small {
        line-height: 0.875rem;
        font-size: .625rem;
        font-weight: 900;
    }

    .music-info h3 {
        margin-block-end: .5rem;
        -webkit-line-clamp: var(--max-lines);
        -webkit-box-orient: vertical;
        --max-lines: 2;
        line-clamp: 2;
        display: -webkit-box;
        line-height: 1.5rem;
        font-size: 1rem;
        width: 90%;
    }

    .music-slide {
        flex-direction: row;
        flex: 1 1 auto;
        gap: 30px;
        scroll-snap-align: none;
    }

    .container-music-videos {
        gap: 30px;
        padding-left: 5rem;
        scroll-padding-left: 5rem;
    }

    .music-slide,
    .music-slide.active {
        opacity: 1;
        transform: none;
        filter: none;
        transition: none;
    }

    .container-video {
        opacity: 0.6;
        transform: scale(0.95);
        transition:
            opacity 0.5s ease,
            transform 0.5s ease,
            filter 0.5s ease;
        filter: brightness(0.7);
    }

    .container-video.active {
        opacity: 1;
        transform: scale(1);
        filter: brightness(1);
    }
}